@tailwind base;
@tailwind components;
@tailwind utilities;

body>section {
  grid-template-columns: 30rem auto;
}

.card {
  background-color: white;
  transition: all 1s;
}

.cardView1{
  right: 0;
  transition: all 1s 2s;
}

.cardView2{
  right: 0;
  transition: all 1s 1s;
}

.cardView3{
  right: 0;
  transition: all 1s;
}

.ashwhois2Anim {
  top: 0;
}

.ashwhois1Anim {
  bottom: 0;
}